# files
*.c
*.cover
*.egg
*.egg-info
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.env
.installed.cfg
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.venv
.webassets-cache
MANIFEST
celerybeat-schedule
celerybeat.pid
coverage.xml
db.sqlite3
db.sqlite3-journal
dmypy.json
docs/changelog.md
docs/index.md
ipython_config.py
local_settings.py
neff_data.csv
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
uv.lock

# folders
.eggs/
.hypothesis/
.ipynb_checkpoints/
.mypy_cache/
.nox/
.pytest_cache/
.tox/
ENV/
__pycache__/
__pypackages__/
build/
develop-eggs/
dist/
docs/_build/
docs/site/
downloads/
eggs/
env.bak/
env/
extra/
htmlcov/
instance/
lib/
lib64/
modes/
parts/
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
site/
target/
var/
venv.bak/
venv/
wheelhouse/
wheels/
failed/
