name: main
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/**"
      - "!.github/workflows/main.yml"
      - "docs/**"
      - "*.md"
      - ".git*"

jobs:
  clean:
    runs-on: ubuntu-latest
    container:
      image: condaforge/mambaforge
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install dependencies
        run: mamba install -c fastai -c conda-forge nbdev\<2 nbstripout
      - name: Clean notebooks
        run: nbdev_clean_nbs
      - name: Strip notebook outputs
        run: find . -name "*.ipynb" | xargs nbstripout
      - name: Check if git status is clean
        run: |
          if [ ! -z "$(git status --porcelain)" ]; then
              echo "Notebooks are not cleaned! They still contain outputs and/or metadata."
              echo "You probably forgot to clear the notebook outputs before pushing."
              echo "Please make sure all pre-commit hooks are properly installed to prevent this issue."
              false;
          fi

  diff:
    runs-on: ubuntu-latest
    container:
      image: condaforge/mambaforge
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install dependencies
        run: mamba install -c fastai -c conda-forge nbdev\<2
      - name: Check for no diff between notebooks and library
        run: |
          if [ ! -z "$(nbdev_diff_nbs)" ]; then
              echo "Python library does not match backing notebooks (diff between notebooks and library detected). "
              echo "You probably forgot to re-generate the library before pushing."
              echo "Please make sure all pre-commit hooks are properly installed to prevent this issue."
              false;
          fi


  test:
    runs-on: ubuntu-latest
    container:
      image: condaforge/mambaforge
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install dependencies
        run: |
          sed -i "s/- sax==/#- sax==/g" environment.yml && \
          pip install klujax>=0.1.4 && \
          mamba env update -n base -f environment.yml && \
          mamba install -y parallel gdspy pymeep=\*=mpi_mpich_\* && \
          pip install datamodel_code_generator jax jaxlib klujax && \
          pip install pydantic\>2 pydantic-settings && \
          pip install --upgrade gdsfactory[cad]\>=7.4.2 gplugins kweb nlopt autograd future && \
          pip install --upgrade --force-reinstall --no-deps .
      - name: Test notebooks
        run: nbdev_test_nbs | tee nbdev_test_nbs.log
      - name: Expose 'nbdev_test_nbs.log' as artifact
        uses: actions/upload-artifact@master
        with:
          name: nbdev_test_nbs.log
          path: /github/workspace/nbdev_test_nbs.log

  run:
    runs-on: ubuntu-latest
    container:
      image: condaforge/mambaforge
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install dependencies
        run: |
          sed -i "s/- sax==/#- sax==/g" environment.yml && \
          pip install klujax>=0.1.4 && \
          mamba env update -n base -f environment.yml && \
          mamba install -y parallel gdspy pymeep=\*=mpi_mpich_\* && \
          pip install datamodel_code_generator jax jaxlib klujax && \
          pip install pydantic\>2 pydantic-settings && \
          pip install --upgrade gdsfactory[cad]\>=7.4.2 gplugins kweb nlopt autograd future && \
          pip install --upgrade --force-reinstall --no-deps .
      - name: Run notebooks
        run: find . -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" | xargs parallel papermill {} {} -k python3 ':::'
      - name: Expose 'nbs' as artifact
        uses: actions/upload-artifact@master
        with:
          name: nbs
          path: /github/workspace/nbs
      - name: Expose 'examples' as artifact
        uses: actions/upload-artifact@master
        with:
          name: examples
          path: /github/workspace/examples
      - name: Expose 'index.ipynb' as artifact
        uses: actions/upload-artifact@master
        with:
          name: index.ipynb
          path: /github/workspace/index.ipynb

  docs:
    runs-on: ubuntu-latest
    needs:
      - run
    container:
      image: condaforge/mambaforge
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install dependencies
        run: |
          mamba install -c fastai -c conda-forge nbdev\<2 nbstripout && \
          pip install -e .[dev]
      - name: Download 'nbs' artifact
        uses: actions/download-artifact@master
        with:
          name: nbs
          path: ./nbs
      - name: Download 'examples' artifact
        uses: actions/download-artifact@master
        with:
          name: examples
          path: ./examples
#     - name: Download 'index.ipynb' artifact
#       uses: actions/download-artifact@master
#       with:
#         name: index.ipynb
#         path: ./index.ipynb
      - name: Build docs
        run: python -m sax.make_docs && touch /github/workspace/docs/_build/html/.nojekyll
      - name: Patch binder links
        run: find docs/_build/html -name "*.html" | xargs sed -i 's|urlpath=tree/docs|urlpath=tree|g'
      - name: Store artifacts
        uses: actions/upload-artifact@master
        with:
          name: docs
          path: /github/workspace/docs/_build/html

  pages:
    runs-on: ubuntu-latest
    needs:
      - docs
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Download 'docs' artifact
        uses: actions/download-artifact@master
        with:
          name: docs
          path: docs/_build/_html
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: pages
          folder: docs/_build/_html
